body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: #1C7430;
  background-position: center top;
  background-repeat: no-repeat;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.stats-img img {
  margin-left:auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 9px;
}

.start-img img {
  margin-left:auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.start-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.stats-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.start-title {
  margin-bottom: 34px;
  font-size: 28px;
  letter-spacing: 0.4px;
  line-height: 38px;
  align-self: right;
}

.start-button,
.stats-button {
  display: inline-block;
  font: inherit;
  color:#1C7430;
  text-align: center;
  vertical-align: middle;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.start-button,
.stats-button {
  font-size: 16px;
  color: #1C7430;
  letter-spacing: 0;
}

.stats-title, 
.stats-stats {
  opacity: 0.85;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0.15px;
  line-height: 35px;
  margin-top:0;
  margin-bottom:0;
}

.stats-stats {
  margin-bottom: 40px;
}

.replay-link {
  text-decoration: none;
}

.replay-link,
.game-point { 
  opacity: 0.8;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: -0.25px;
}

.game-page {
  padding: 0 200px;
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
  margin-bottom: 30px;
}

.game-point {
  margin: 0 20px 0 0;
}

.game-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style:none;
  padding:0;
}

.game-list li {
  margin-right: 20px;
  margin-bottom: 30px;
}

img:not(.close) {
  max-width: 100%;
  height: auto;
}

.close {
  max-width: 110px;
  height: 150px;
  border-radius: 5px;
}

.hidden {
  visibility : hidden;
}

